[Unit]
Description=Install default flatpaks
ConditionPathExists=!/var/lib/flatpak/.reblue-installed
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak install --system --noninteractive flathub org.mozilla.firefox org.gnome.Loupe org.gnome.Papers org.gnome.Decibels org.gnome.Showtime org.gnome.clocks org.gnome.TextEditor org.gnome.Calculator org.gnome.Snapshot 
ExecStart=/usr/bin/touch /var/lib/flatpak/.reblue-installed

[Install]
WantedBy=multi-user.target
